SUPABASE_ACCESS_TOKEN=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_ATTACHMENT_BUCKET=carlog
SUPABASE_SEED_BUCKET=seed
SEND_EMAIL_HOOK_SECRET=
RESEND_API_KEY=
POWERSYNC_URL=
MAIN_DATABASE_NAME=carlog_main.sqlite
SEED_DATABASE_NAME=carlog_global.sqlite
GOOGLE_WEBCLIENTID=
LOCAL_STORAGE_KEY_SELECTED_CAR_INDEX=Carlog_SelectedCarIndex
LOCAL_STORAGE_KEY_NOT_VERIFIED_EMAIL=Carlog_NotVerifiedEmail
LOCAL_STORAGE_KEY_LANGUAGE=Carlog_AppLanguage
LOCAL_STORAGE_KEY_LAST_LOCAL_IMAGE_CLEANUP=Carlog_LastLocalImageCleanup
LOCAL_STORAGE_KEY_GLOBAL_SEED_DB_LAST_MODIFICATION=Carlog_LastGlobalSeedDbLastModification
LOCAL_IMAGE_CLEANUP_INTERVAL_MS=86400000#24hour
LOCAL_IMAGE_CLEANUP_GRACE_PERIOD_MS=43200000#12hour