replication:
  connections:
    - type: postgresql
      uri: !env PS_POSTGRES_URI
      sslmode: disable

storage:
  type: mongodb
  uri: !env PS_MONGO_URI

port: !env PS_PORT

sync_rules:
  content: |
    bucket_definitions:
      global:
        data: 
          - SELECT * FROM make
          - SELECT * FROM model
      by_user:
        parameters: SELECT request.user_id() as user_id
        data:
          - SELECT * FROM car WHERE car.owner_id = bucket.user_id
          - SELECT id, email, lastname, firstname, avatar_url, avatar_color FROM user_account WHERE user_account.id = bucket.user_id
      by_car:
        parameters: SELECT id as car_id FROM car WHERE request.user_id() = owner_id
        data:
          - SELECT * FROM odometer WHERE bucket.car_id = car_id
          - SELECT * FROM fuel_tank WHERE bucket.car_id = car_id

client_auth:
  jwks_uri: !env PS_JWKS_URI
  audience: ["powersync"]

